.header {
  margin-bottom: 15px;
}
.content {
  padding: 26px;
  border: 1px solid #C6C6C8;
  margin-bottom: 20px;
}

.stat {
  display: flex;
  margin-bottom: 18px;
}

.comments-item {
  margin-bottom: 10px;
}

