.header {
  margin-bottom: 15px;
}
.content {
  padding: 24px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 40px 0 rgba(#000, .07);
}

.text {
  margin-bottom: 28px;
}

.stat {
  display: flex;
}

.comments-item {
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  color: rgba(00, 00, 00, .4);
  text-transform: uppercase;
}

