.header {
  margin-bottom: 14px;
}
.content {
  padding: 16px 20px;
  margin-bottom: 17px;
  border-radius: 10px;
  box-shadow: 0 4px 40px 0 rgba(#000, .07);
}

.title {
  font-size: 26px;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 28px;
}

.stat {
  display: flex;
}

.toggler {
  margin-bottom: 6px;
}


.date {
  font-size: 14px;
  color: rgba(00, 00, 00, .4);
  text-transform: uppercase;
}

