.c-placeholder {
  color: #dedede;
}

.mainpic {
  height: 170px;
  margin-bottom: 28px;
  border-radius: 4px;
  background: currentColor;
}


.content {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:after, &:before, .item {
    content: "";
    display: block;
    background: currentColor;
    height: 17px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  &:before {
    width: 67%;
  }

  .item {
    width: 80%;
  }

  &:after {
    width: 53%;
  }
}
