.c-button {
  border-radius: 6px;

  &.rubberish {
    width: 100%;
    height: 100%;
    font-size: inherit !important;
    font-weight: inherit !important;
    padding: 0;
    text-align: center;
  }

  &.size-small {
    padding: 6px 28px;
    font-size: 12px;
  }

  &.size-big {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 16px;
    background: #f0f0f0;
  }

  &.theme-white {
    border: 1px solid rgba(60, 60, 67, 0.18);
    //background: transparent;

    &:hover {
      background: #31AE54;
      color: #fff;
    }
  }

  &.theme-green {
    background: #31AE54;
    color: white;

    &:hover {
      background: #A8A8A8;
    }
  }

  &.hover-text {
    &:hover {
      .btn-text {
        font-size: 0;
      }

      &:after {
        font-size: inherit;
      }
    }

    &:after {
      content: attr(data-hover-text);
      font-size: 0;
    }
  }
}
