.c-user {
  display: flex;
  align-items: center;

  &.size-medium {
    .avatar {
      width: 112px;
      margin-right: 26px;
    }
  }
}

.avatar {
  width: 45px;
  margin-right: 14px;
}

.username {
  font-weight: bold;
  font-size: 18px;
}

