.c-repo-info {
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 40px 0 rgba(#000, .07);
}

.title {
  font-size: 26px;
  margin-bottom: 5px;
}

.text {
  margin-bottom: 28px;
}

.stat {
  display: flex;
}
