.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.avatar {
  width: 38px;
  margin-bottom: 5px;
}
