.container {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.user {
  flex: 1;
  padding-right: 30px;
  border-right: 1px solid var(--borders);
  padding-top: 40px;
}

.content {
  flex: 2;
  padding: 40px 0 0 70px;
}


