.c-story-post-item {
  height: 660px;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(43,43,43,1) 10%, rgba(60,60,60,1) 50%, rgba(43,43,43,1) 90%);
  color: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 30px;
}

.progress {
  margin-bottom: 10px;
}

.content {
  padding: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info {
  flex: 1;
  margin-bottom: 20px;
}

.button {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}


